<?xml version="1.0"?>

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />

		<customErrors mode="Off" />

		<authentication mode="None" />
		<authorization>
			<allow users="*" />
		</authorization>

		<membership>
			<providers>
				<clear />
			</providers>
		</membership>

		<roleManager enabled="false">
			<providers>
				<clear />
			</providers>
		</roleManager>
	</system.web>
</configuration>
