#growlDock .notice a
{
	color: #000 !important;
}

#growlDock .notice
{
	padding: 10px;
	margin: 10px;
	background-color: #0087b9 !important;
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 0.9em;
	font-style: normal;
	background-color: #fff;
}

a img
{
	border-style: none;
}

a,
.ui-widget-content a
{
	/* light blue */
	color: #0087b9;
	text-decoration: none;
}

a:hover,
.ui-widget-content a:hover
{
	text-decoration: underline;
}

/*
a.ext:after
{
	content: url(../images/ext_link.png);
	margin-left: 5px;
}
*/



/* can be used with jquery ui-icons like this:
	<a href="#">
		<span class="ui-icon ui-icon-search single-icon"></span>
		Link with icon
	</a>
*/		
.single-icon
{
	float: left;
	margin-right: 3px;
}


/* for the news section on the main page (below the h-scroller) */
.red-title
{
	color: #c20000;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 4px;
}

.blue-title
{
	color: #3e455b;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 4px;
}

.light-blue-title
{
	color: #0087b9;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 4px;
}

ul.none
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
		
ul.none li
{
	clear: both;
}
		

/* for div's that have the h-bar at the top */
.bar
{
	padding: 10px 0px;
	background-repeat: repeat-x;
	background-position: top;
	margin-bottom: 20px;
	line-height: 1.5em;
}

.light-blue-bar { background-image: url(../images/light-blue-bar-5.gif); }
.red-bar { background-image: url(../images/cherry-red-bar-5.gif); }
.blue-bar { background-image: url(../images/steel-blue-bar-5.gif); }


/* should be used with one of the border classes, like light-blue-border, red-border, steel-blue-border, etc */
.box
{
	padding: 15px;
	margin-bottom: 8px;
	background-color: #fff;
	line-height: 1.5em;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.bar, .box
{
	/* steel blue gray */
	color: #3e455b;
}

.bar .title,
.box .title
{
	/* steel blue gray */
	color: #3e455b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 5px;
	margin-bottom: 3px;
	vertical-align: baseline;
}


.bold
{
	font-weight: bold;
}

/* font sizes */
.tiny { font-size: 0.7em; }
.small { font-size: 0.8em; }
.normal { font-size: 1.0em; }
.big { font-size: 1.3em; }
.bigger { font-size: 1.6em; }
.huge { font-size: 2.0em; }

/* colors (grays, light-blue, and red */
.steel-blue-fg { color: #3e455b; }
.steel-blue-bg { background-color: #3e455b; }
.steel-blue-border { border: solid 1px #3e455b; }

.light-gray-fg { color: #999; }
.light-gray-bg { background-color: #efefef; }
.light-gray-border { border: solid 1px #999; }

.light-blue-fg { color: #0087b9; }
.light-blue-bg { background-color: #0087b9; }
.light-blue-border { border: solid 1px #0087b9; }

.red-fg { color: #c20000 !important; }
.red-bg { background-color: #c20000; }
.red-border { border: solid 1px #c20000; }

/* other quick one-liner styles */
.nowrap { white-space: nowrap; }
.left { text-align: left; }
.right { text-align : right; }
.fixed-width { font-family: Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New'; }
.fleft { float: left; }
.fright { float: right; }
.clear { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }

.code
{
	font-family: Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New';
	background-color: #eee;
	padding: 2px;
	border: solid 1px #fff;
}

/* 950px wide still looks fine on 1024x768, with no h-scrollbar */
.w950 { width: 950px; }


/* must be used with one of the w* classes, like w950, or have width set on it's container */
.center
{
	margin-left: auto;
	margin-right: auto;
}




/* A "justrows" table doesn't have cell dividers, just row lines.
 * A "cells" table looks the same, but with cell borders as well.
 */
table.justrows,
table.cells
{
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color: #dfdfdf;
	line-height: 1.2em;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.justrows tr,
table.cells tr
{
	border-bottom: 1px solid #dfdfdf;
}

table.justrows td
{
	border-left: none;
	border-right: none;
}

table.justrows tr td
{
	padding: 5px;
	color: #3e455b;
	vertical-align: top;
}

table.cells tr td
{
	padding: 5px;
	border-right: 1px solid #dfdfdf;
	vertical-align: top;
}





/* This keeps the "page shift" from happening in FF and Chrome, when the page switches from having a vertical
 * scrollbar to not having one, which normally causes the content to re-center.
 * This just causes the scrollbar to be always visible. */
html { overflow-y: scroll; }

#divHeader
{
	margin-top: 15px;
	border-bottom: 1px solid #0087b9;
}

/* for the main links at the top */
#divHeaderLinks a
{
	/* steel blue */
	color: #0087b9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	margin-right: 20px;
	padding-bottom: 10px;
	vertical-align: baseline;
	white-space: nowrap;
	/* background: url(../images/menu-underline-bg.gif) repeat-x 0 0; */
}


#topInfo
{
	vertical-align: top;
	float: right;
	margin-right: 20px;
}

/* for the news section on the main page (below the h-scroller) */
.news > .content
{
	margin-bottom: 30px;
}


/* the footer div, with copyright info and links */
#divFooter
{
	/* light blue */
	border-top: 1px solid #0087b9;
	clear: both;
	font-size: 0.8em;
	color: #3e455b;
	line-height: 2.5em;
}

#divFooter a
{
	/* red */
	color: #c20000;
	margin-right: 10px;
}